{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="eight wide column">
            <img src="images/skellig.jpg" class="ui large image">
        </aside>
        <article class="six wide column">
            <header class="ui large header"> Whats your favourite Irish Island? </header>
            <p> This application logs details on Irish islands.<br>
                <b>Log in or sign up to continue</b></p>
            {{> error }}
        </article>
    </div>
</section>